html, body {
	font-family: Consolas, monaco, monospace;
	/* background-color: #272822; */
	color: black;
	width: 100vw;
	height: 100vh;
}

.container {
	height: 100%;
}


section{
	height: 100%;
}


.input-field{
	height: 25px;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}